<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
      <h3>Register</h3>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <label for="registerSerialCode">Serial Code</label>
            <input type="text" class="form-control" id="registerSerialCode" 
              name="serialCode" ngModel required #serialCode="ngModel"
              placeholder="Enter serial code">
          </div>
          <div class="form-group">
            <label for="registerFirstName">First Name</label>
            <input type="text" class="form-control" id="registerFirstName" 
              name="firstName" ngModel required #firstName="ngModel"
              placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="registerLastName">Last Name</label>
            <input type="text" class="form-control" id="registerLastName" 
              name="lastName" ngModel required #lastName="ngModel"
              placeholder="Last Name">
          </div>              
          <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="password" class="form-control" id="registerPassword" 
              name="password" ngModel required #password="ngModel"
              placeholder="Password">
          </div>
          <div class="form-group">
            <label for="registerRePassword">Repeat Password</label>
            <input type="password" class="form-control" id="registerRePassword" 
              name="rePassword" ngModel required #rePassword="ngModel"
              placeholder="Re enter the password">
          </div>
          <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
        </form>
  </div>
</div>
